extends layout

block content
  #map(style='width:100%;height:500px')
  .container(style="margin-top:20px")
    .row
      .col-sm-2
      .col-sm-4
        a(href='/search_hospital')
          button.btn.btn-primary.btn-lg(type='button') Search Hospital
      .col-sm-4
        a(href='/search_doctor' style="float:right")
          button.btn.btn-primary.btn-lg(type='button') Search Doctor

  script.
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 1.362083, lng: 103.819836},
      zoom: 13
      });
    }
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAj9ZMqwI_aJR1RDXwAiZXHzEg1T_ZKjnY&callback=initMap')

