doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Singapore Health Care Portal')
    meta(name='author', content='Chen Ziao & Zhou Zhiyao')
    title
      | Singapore Healthcare Portal
    link(rel='stylesheet', href='/static/css/bootstrap.min.css?20140217', media='screen')
    link(rel='stylesheet', href='/static/css/bootstrap-theme.min.css?20140217')
    link(rel='stylesheet', href='/static/css/itemrtweb.css?20140919')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    script(src='/static/js/html5shiv.js')
    script(src='/jquery-1.12.3.js')
    script(src='/jquery-ui.js')
    script(src='/static/js/respond.min.js')
    script(src='/static/js/bootstrap.min.js')
    script.
      $(document).ready(function(){
        if (!{JSON.stringify(session)}.popup){
          $('#pop_content').html('Incorrect username or password. Please login again.');
          $('#pop').click();
        }
      })
    script.
      function checklogin(){
        if ($('#loginInputUsername').val() == '' || $('#loginInputPassword').val() == ''){
          $('#pop_content').html('Please fill in all the mandatory fields.');
          $('#pop').click();
          return false;
        }
        return true;
      };
    style.
      body{
      background-image: url('/static/images/download.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      }
  body
    button#pop.btn.btn-info.btn-lg(style='display:none', type='button', data-toggle='modal', data-target='#myModal')
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Healthcare Portal says:
          .modal-body
            p#pop_content
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') OK


    #mainnavbar.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          .dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              .navbar-brand
                div Singapore
                div(style='color: #428BCA; font-size: 14px;') Healthcare Portal
            //- ul#dropdown-subjects.dropdown-menu
              //- li
                //- span Change Subject
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                span.glyphicon.glyphicon-home
            li.dropdown
              a.dropdown-toggle(href='/search_hospital', data-toggle='dropdown')
                span.glyphicon.glyphicon-flag
                |  Hospitals
              ul.dropdown-menu
                li
                  a(href='/search_hospital')
                    span.glyphicon.glyphicon-search
                    |  Search
                li
                  a(href='#')
                    span.glyphicon.glyphicon-book
                    |  Search History
                li
                  a(href='#')
                    span.glyphicon.glyphicon-book
                    |  Bookmark
            li.dropdown
              a.dropdown-toggle(href='/search_doctor', data-toggle='dropdown')
                span.glyphicon.glyphicon-list-alt
                |  Doctors
              ul.dropdown-menu
                li
                  a(href='/search_doctor')
                    span.glyphicon.glyphicon-search
                    |  Search
                li
                  a(href='#')
                    span.glyphicon.glyphicon-book
                    |  Search History
                li
                  a(href='#')
                    span.glyphicon.glyphicon-book
                    |  Bookmark


            li
              a(href='/about')
                span.glyphicon.glyphicon-tag
                |  About 101
          ul.nav.navbar-nav.navbar-right
           if session.userprofile
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-user
                |  &nbsp;#{session.userprofile.name}
              ul.dropdown-menu
                li
                  a(href='/profile')
                    span.glyphicon.glyphicon-th-list
                    |  Profile
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |  Sign Out
           else
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Sign In
              ul.dropdown-menu.nav-login
                li.nav-login-content
                  form(onsubmit='return checklogin();', action='/', method='post')
                    .form-group
                      label(for='loginInputEmail') Username
                      input#loginInputUsername.form-control(type='text', name='username', placeholder='Username')
                    .form-group
                      label(for='loginInputPassword') Password
                      input#loginInputPassword.form-control(type='password', name='password', placeholder='Password')
                    button.btn.btn-primary(type='submit') Sign In
                li.divider
                li
                  a(href='/register') New user?
        // /.nav-collapse
  .container
    block content
